
*.ini
*.gz
data/MNIST/MNIST/raw/train-labels-idx1-ubyte
data/MNIST/MNIST/raw/train-images-idx3-ubyte
data/MNIST/MNIST/raw/t10k-images-idx3-ubyte
data/MNIST/MNIST/raw/t10k-labels-idx1-ubyte
data/CIFAR10/cifar-10-batches-py/test_batch
data/CIFAR10/cifar-10-batches-py/readme.html
data/CIFAR10/cifar-10-batches-py/data_batch_5
data/CIFAR10/cifar-10-batches-py/data_batch_4
data/CIFAR10/cifar-10-batches-py/data_batch_3
data/CIFAR10/cifar-10-batches-py/data_batch_2
data/CIFAR10/cifar-10-batches-py/data_batch_1
data/CIFAR10/cifar-10-batches-py/batches.meta
*.pyc
*.bak
